{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>Snippetbox is a web application for creating and sharing code snippets.</p>
<p>It is built using the Go programming language and the Gorilla web toolkit.</p>

{{end}}